<div class="loginWrapper">
  <div class="loginHeader">
    <div class="loginTitle">Inloggen</div>
    <img src="/assets/media/Inloggen.svg" class="loginImage"/>
  </div>
  <div class="loginContent">
    <dom-if if="{{hasFakeInlogEnabled}}">
      <template>
        <div class="loginDigidButton" on-click="_signInWithDigiDFake">
          <img src="/assets/logo-digid.svg" class="loginSelectButton noselect" />
          <div>
            <div class="loginDigidButtonHeader">FAKE Inloggen bij</div>
            <div class="loginDigidButtonSubHeader">Mijn-app</div>
          </div>
        </div>
      </template>
    </dom-if>

    <div class="loginDigidButton" on-click="_signInWithDigiD">
      <img src="/assets/logo-digid.svg" class="loginSelectButton noselect" />
      <div>
        <div class="loginDigidButtonHeader">Inloggen bij</div>
        <div class="loginDigidButtonSubHeader">Mijn-app</div>
      </div>
    </div>
  </div>
  <dom-if if="[[_showLoginWarning(jwtError)]]">
    <template>
      <div class="Error">Er is iets verkeerd gegaan tijdens het inloggen</div>
      <div class="Error">[[_showLoginWarning(jwtError)]]</div>
    </template>
  </dom-if>
</div>
