<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!-- For some reason building the solution in Azure DevOps requires this file to be present. Do not remove! -->
<system.webServer>
  <defaultDocument enabled="true">
    <files>
      <add value="index.html" />
    </files>
  </defaultDocument>
</system.webServer>
  <system.web>
    <customErrors mode="On" defaultRedirect="index.html">
    </customErrors>
  </system.web>
</configuration>
