<div class="Wrapper">
  <div class="ScrollContainer">
    <dom-if if="{{searching}}">
      <template>
        <maf-screen on-back="[[_onBack]]" heading="Mijn verzoeken">
          <div class="SpinnerBox">
            <img class="Spinner" src="assets/media/Spinner.svg" alt="spinner">
            <div class="SpinnerMessage">Je gegevens worden opgehaald.</div>
          </div>
        </maf-screen>
      </template>
    </dom-if>
    <dom-if if="{{!searching}}">
      <template>
        <maf-screen on-back="[[_onBack]]" heading="Mijn verzoeken">
          <div class="OrdersContainer">
            <dom-repeat items="{{orders}}" as="request">
            <template>
              <div class="Order">
                <ul>
                  <li>Aanmaak datum: {{request.date_created}}</li>
                  <li>Verzoek type: {{request.request_type}}</li>
                  <li>Nieuw address: {{request.properties.adress}}</li>
                  <li>Verhuis datum: {{request.properties.datum}}</li>
                  <li>Wie: {{request.properties.wie}}</li>
                </ul>
              </div>
            </template>
            </dom-repeat>
          </div>
        </maf-screen>
      </template>
    </dom-if>
  </div>
</div>
