<div class="Wrapper">
  <div class="ScrollContainer">
    <maf-screen on-back="[[_onBack]]" heading="Zoeken">
      <div class="SearchWrapper">
          <maki-input elevation="0" stroke="1" placeholder="Wat wil je regelen?" icon-right="true">
              <maki-icon-search></maki-icon-search>
          </maki-input>
        <div class="Head">Suggesties</div>
        <div class="Title" on-click="_selectJourneyB">
          <maki-icon-truck></maki-icon-truck>
          <div class="TitleText">Ik ga verhuizen</div>
        </div>
        <div class="Title" on-click="_selectJourneyA">
          <maki-icon-bulb></maki-icon-bulb>
          <div class="TitleText">Ik heb een goed idee</div>
        </div>
      </div>
    </maf-screen>
  </div>
</div>
