<div class="Wrapper">
  <div class="ScrollContainer">
    <maf-screen on-back="[[_onBack]]" heading="Zoeken">
      <div class="SearchWrapper">
        <div class="input__control-group" on-click="_goJourneys">
          <input class="input__control input__control--search" placeholder="Wat wil je regelen?" type="text" />
          <button class="btn btn--icon" title="Zoeken"><i class="icon icon-magnifier" role="presentation"></i></button>
        </div>
        <div class="Head">Suggesties</div>
        <div class="Title" on-click="_selectJourneyB">
          <maki-icon-truck></maki-icon-truck>
          <div class="TitleText">Ik ga verhuizen</div>
        </div>
        <div class="Title" on-click="_selectJourneyA">
          <maki-icon-bulb></maki-icon-bulb>
          <div class="TitleText">Ik heb een goed idee</div>
        </div>
      </div>
    </maf-screen>
  </div>
</div>
