<div class="Wrapper">
  <div class="ScrollContainer">
    <dom-if if="{{searching}}">
      <template>
        <maf-screen on-back="[[_onBack]]" heading="Mijn overeenkomsten">
          <div class="SpinnerBox">
            <img class="Spinner" src="assets/media/Spinner.svg" alt="spinner">
            <div class="SpinnerMessage">Je gegevens worden opgehaald.</div>
          </div>
        </maf-screen>
      </template>
    </dom-if>
    <dom-if if="{{!searching}}">
      <template>
        <maf-screen on-back="[[_onBack]]" heading="Mijn overeenkomsten">
          <div class="ContractsContainer">
            <dom-repeat items="{{contracts}}" as="contract">
              <template>
                <div class="Contract">
                  <!--<div class="ContractImage">
                    <img src="[[contract.logo]]" />
                  </div>-->
                  <ul>
                    <li><b>Naam organisatie:</b> [[contract.organisatie]]</li>
                    <li><b>Uw naam:</b> [[contract.naam]]</li>
                    <li><b>Uw BSN:</b> [[contract.bsn]]</li>
                    <li><b>Overeenkomstnummer:</b> [[contract.identificatie]]</li>
                    <li><b>Naam van de overeenkomst:</b> [[contract.titel]]</li>
                    <li><b>Startdatum:</b> [[_getDutchDate(contract.beginDatum)]]</li>
                    <li><b>Status:</b> [[contract.status]]</li>
                    <li><b>Einddatum:</b> [[_getDutchDate(contract.eindDatum)]]</li>
                  </ul>
                </div>
              </template>
            </dom-repeat>
          </div>
        </maf-screen>
      </template>
    </dom-if>
  </div>
</div>