.Wrapper {
  width: 100%;
  height: calc(100vh - 57px);
  max-width: var(--main-max-width);
  margin: 0 auto;
  background-color: var(--main-content-background-color);
}
.FloatMax {
  float: left;
  height: 100%;
  width: 100%;
}
